@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

body {background-color:#F3E9DD; font-family: 'Roboto Mono', monospace;}
.navbar {background-color:#F3E9DD !important; text-transform:uppercase}

a:hover {color:#FC4404 !important}

#intro {font-family: 'Tilt Warp', cursive; text-transform:uppercase}

.red-text {color:#FC4404}
.green-text {color:#065C20}

.btn {color:black}
.btn:hover {color:#FC4404}


  img {background: transparent !important}
  .tm-site-name-container {border-bottom: 0px !important}
  .tm-section-logo {padding-top:3vw !important}
    /* Hide scrollbar for Chrome, Safari and Opera */
    .hide-scroll::-webkit-scrollbar {
    display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .hide-scroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    }
    figure {box-sizing: inherit !important}
    img { text-align: center; margin: auto; background-color: #ccc; padding:auto}
    /* The Overlay (background) */
    .overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    }
    /* Position the content inside the overlay */
    .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    }
    /* The navigation links inside the overlay */
    .overlay a, .overlay-slashes {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    transition: 0.3s; /* Transition effects on hover (color) */
    }
    /* When you mouse over the navigation links, change their color */
    .overlay a:hover, .overlay a:focus {
    color: #F5DF4D;; text-decoration: underline;
    }
    /* Position the close button (top right corner) */
    .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    }
    /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
    @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
    }
    button {background-color:transparent !important; border:0px !Important}
    .fixed-bottom {background-color: #F5DF4D;}
    img {object-fit: cover;}
    .grid {max-height:auto}
    .transparent-hamburger {display: None;}
    .real-hamburger {display:inherit}
    .tm-section-4 > * {font-size:0.6rem}
    a {color:#F5DF4D;}
    figcaption {font-size:0.8em}


@media only screen and (max-width: 768px) {
  #relevantActivities {
    background-color: white;
  }
}


/* FILTER BAR IN PUBLICATIONS */

#myBtnContainer {
  text-align: right !important ;
  border-bottom: solid #656565 !important;
  float:right
}
.filterDiv {
  float: left;
  display: none;
  padding-bottom:1vw
}

.show {
  display: block;
}

.publicationsContainer {
  margin-top: 20px;
  overflow: hidden;
  float:left
}

/* Style the buttons in publications */
.filterbtn {
  border: none;
  outline: none;
  cursor: pointer;
  color: #656565 !important;
  font-size: 10px !important;
  padding:1vw !important;
  box-shadow: transparent !important;
}

.btn:focus  {
  box-shadow: 0 0 0 0.0rem rgb(0 0 0 / 25%) !important
}

.filterbtn:hover {
  color: #FC4404 !important
}

.filterbtn.active {
  background-color: #transparent !important;
  color: #FC4404 !important
}

.filterDiv > span {
  color:#b0aeae}

#myBtnContainer2 {
    border-bottom: solid #656565 !important;
}

.modal-header {
  border-bottom: solid #4F4F8D !important;
  background-color: #F3E9DD
}

.modal-footer {
  border-top: solid #4F4F8D !important;
  background-color: #F3E9DD
}
